
  @media (min-width: 768px) {
    .service-icon{
      height: 15rem !important;
      width: 15rem !important;
      margin: 55px;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      background-color: rgba(1, 1, 15, 0.10);
      border: 1px solid rgb(202, 211, 252);
      border-radius: 100%;
    }
    .service-icon-inner{
      font-size: 5rem !important; 
    }
    .contact-img{
      display: none;
    }
  }

  @media (max-width: 768px) {
    .service-icon{
      height: 12rem !important;
      width: 12rem !important;
      margin: 55px;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      background-color: rgba(1, 1, 15, 0.10);
      border: 1px solid rgb(202, 211, 252);
      border-radius: 100%;
    }
    .service-icon-inner{
      font-size: 5rem !important; 
    }
    .contact-img{
      display: none;
    }
  }


  @media (max-width: 500px) {
    .service-icon{
      height: 20rem !important;
      width: 20rem !important;
      margin: 55px;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      background-color: rgba(1, 1, 15, 0.10);
      border: 1px solid rgb(202, 211, 252);
      border-radius: 100%;
    }
    .service-icon-inner{
      font-size: 5rem !important; 
    }
    .contact-img{
      display: none;
    }
  }

  /* styles */

  #services{
    background: #0B466B !important;
    box-shadow: 10px 10px 10px 10px grey !important;
  }
  #demos{
    background: #011624 !important;
  }
  #demos h1{
    color: white !important;
  }
  #contact{
    background: #943535 !important;
    color: beige !important;
    border-color: beige !important;
  }
  input.form-control{
    border-color: beige !important;
    color: beige !important
  }
  input::placeholder{
    color: beige !important;
    border-color: beige !important;
  }

.service-icon:hover, .service-icon:active, .service-icon:focus {
  opacity: 0.2;
}

.card-body-bg{
  background: rgba(255, 255, 255, 0.938) !important;
  color: black !important;
}

.card-title-bg{
  background-color: #6B0000;
  color: whitesmoke !important;
  font-weight: 400 !important;

}

.audio-card-all{
  background-color: #0f000000;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.664);
  transition: box-shadow .5s ease-out;
  border-color: white !important;
  border-radius: 20px !important;
  border-width: 0px !important;
  border-style: solid !important;
  overflow: hidden;
}

.audio-card-all:hover{
  box-shadow: 5px 5px 50px #943535 !important;
}
