.audio-card{
    background-color: black;
}

.card.h-100.w-100:hover{
    transform: scale(1.2);
    z-index: 2;
}
    
.card-body-bg{
    background: #011624 !important;
}

.card-title-bg{
    background: #011624;
}