@-webkit-keyframes color-change-2x {
    0% {
        color: black;
      }
    50% {
      color: #207bf1;
    }
    100% {
      color: #ff2c84;
    }
  }
  @keyframes color-change-2x {
    0% {
        color: black;
      }
    50% {
      color: #207bf1;
    }
    100% {
      color: #ff2c84;
    }
  }
  
.color-change-2x:hover {
-webkit-animation: color-change-2x 4s linear infinite alternate both;
        animation: color-change-2x 4s linear infinite alternate both;
}


.service-icon:hover{
    -webkit-animation: fade .5s ease-in-out 1;
            animation: fade .5s ease-in-out 1;
}

@keyframes fade{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }